doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel="stylesheet", href="styles.css")
body   
    // este seria el bloque
    ul#numeros
        // estos  serian  los elementos
        // estos  serian  los modificadores
        li
            a(href='') Item 1
        li
            a(href='') Item 2
        li
            a(href='') Item 3
        li
            a(href='') Item 4
        li
            a(href='') Item 5
    p#output
    p#out
    p#ou