doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet",href='styles.css')
	body
		header
			h1 rotoplas
			a(class="boton") Registro
		section.intro
			.intro__contenido_derecha
				.intro__imagen: img(src="images/imagen.png")
				h2 Titulo Principal
				p 
					| Integer semper feugiat varius.
					span Proin sed urna quis orci interdum rutrum. Integer rhoncus finibus nunc, ac porttitor ex dapibus ac.
				a(class="boton") Leer Mas
				p.intro--fecha
			.intro__contenido_izquierda
				.intro__imagen: img(src="images/imagen.png")
				h2 Titulo Principal
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					| Proin ex mi, gravida sit amet imperdiet vel, sodales a mi. 
					| Proin sit amet tellus nec nisl bibendum ornare nec at augue. 
					| Integer semper feugiat varius.
					span Proin sed urna quis orci interdum rutrum. Integer rhoncus finibus nunc, ac porttitor ex dapibus ac.
				a(class="boton") Leer Mas
				p.intro--fecha
		section.products 
			#products__item
		footer.footer
			img(src="", alt="REDES", srcset="")
			img(src="", alt="REDES", srcset="")
			img(src="", alt="REDES", srcset="")
			img(src="", alt="REDES", srcset="")
			img(src="", alt="REDES", srcset="")
			a(href="http://") link link
			a(href="http://") 